<section id="coworking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Coworking space</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <h3>We develop with free software</h3>
          <p class="text-muted">We support the idea of ensuring software users the freedom to see, change and redistribute it.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h3>Without hierarchies</h3>
          <p class="text-muted">In our community we do not believe in the concept of boss or employee.
</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>Working as a team</h3>
          <p class="text-muted">We develop team solutions sharing our experience.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Without fixed schedules</h3>
          <p class="text-muted">Our developers decide their own schedules according to their needs.</p>
        </div>
      </div>
    </div>
  </div>
</section>
