<section id="map">
      <div class="text-center">
        <h2 class="section-heading">Where are we?</h2>
        <hr class="primary">
<iframe width="70%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-60.71830809116364%2C-31.638982430060494%2C-60.71468710899353%2C-31.637370227730322&amp;layer=mapnik&amp;marker=-31.63817633238918%2C-60.71649760007858" style="border: 1px solid black"></iframe>
<br/>
<small><a href="http://www.openstreetmap.org/?mlat=-31.63818&amp;mlon=-60.71650#map=19/-31.63818/-60.71650">Full screen</a></small>
      </div>
</section>
