<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src='/assets/javascript/vendor/jquery-3.1.1.min.js'></script>
  <script src='/assets/javascript/vendor/masonry.pkgd.min.js'></script>
  <script src='/assets/javascript/main.js'></script>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
